@use "media-queries";

@use "globals";

.card{
    margin: 2rem;
    width: 20rem;
    height: 28rem;
    padding: 3rem 1.5rem;
    background-color: globals.$white;
    border-radius: 1.5rem 1.5rem 6rem 1.5rem;
    box-sizing: border-box;

    @include media-queries.desktop-s {
        width: 32rem;
        height: 25rem;
        margin-top: 6%;
    }

    form{
        width: 100%;
        display: flex;
        flex-direction: column;

        .group-form{
            width: 100%;
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            @include media-queries.desktop-s {
                width: 75%;
            }

            .group-input{
                width: 30%;
                display: flex;
                flex-direction: column;

                #label{
                    font-family: poppinsBold;
                    font-size: 0.7rem;
                    text-transform: uppercase;
                    letter-spacing: 0.2rem;
                    margin-bottom: 0.3rem;
                }

                .label-color{
                    color: globals.$smokey-grey;
                }

                input{
                    color: globals.$off-black;
                    font-family: poppinsBold;
                    font-size: 1.4rem;
                    height: 1rem;
                    padding: 1rem;
                    background-color: globals.$white;
                    border: 1px solid globals.$light-grey;
                    border-radius: 0.3rem;
                
                    &:focus-visible{
                        outline: 1px solid globals.$purple;
                    }
                }

                .span-error-day, .span-error-month, .span-error-year{
                    display: flex;
                    font-family: poppinsItalic;
                    color: globals.$light-red;
                    font-size: 0.5rem;
                    margin: 0.4rem 0;
                }
            }
        }

        .line{
            height: 0.2rem;
            width: 100%;
            background-color: globals.$off-white;
            margin: 4rem 0;
            display: flex;
            justify-content: center;
            align-items: center;
    
            @include media-queries.desktop-s {
                margin: 2rem 0;
                justify-content: flex-end;
            }
    
            .btn-arrow{
                background-color: globals.$off-black;
                width: 3.5rem;
                height: 3.5rem;
                border: none;
                border-radius: 50%;
                cursor: pointer;
                outline: none;
                transition: all 0.3s;
                display: flex;
                justify-content: center;
                align-items: center;
    
                &:hover{
                    background-color: globals.$purple;
                }
    
            }
    
        }

    }

    .result{
        display: flex;
        flex-direction: column;
        font-style: italic;
        font-size: 3.1rem;
        font-family: poppinsExtraBoldItalic;

        @include media-queries.desktop-s {
            font-size: 3.6rem;
        }

        .group-result{
            display: flex;
            flex-direction: row;

            .input-result{
                color: globals.$purple;
            }

            .span{
                color: globals.$off-black;
            }
        }
    }
}