@use "media-queries";

@font-face {
    font-family: poppinsRegular;
    src: url(../assets/fonts/Poppins-Regular.ttf);
}

@font-face {
    font-family: poppinsItalic;
    src: url(../assets/fonts/Poppins-Italic.ttf);
}

@font-face {
    font-family: poppinsExtraBoldItalic;
    src: url(../assets/fonts/Poppins-ExtraBoldItalic.ttf);
}

@font-face {
    font-family: poppinsExtraBold;
    src: url(../assets/fonts/Poppins-ExtraBold.ttf);
}

@font-face {
    font-family: poppinsBoldItalic;
    src: url(../assets/fonts/Poppins-BoldItalic.ttf);
}

@font-face {
    font-family: poppinsBold;
    src: url(../assets/fonts/Poppins-Bold.ttf);
}


$purple: hsl(259, 100%, 65%);
$light-red: hsl(0, 100%, 67%);
$white: hsl(0, 0%, 100%);
$off-white: hsl(0, 0%, 94%);
$light-grey: hsl(0, 0%, 86%);
$smokey-grey: hsl(0, 1%, 44%);
$off-black: hsl(0, 0%, 8%);

html{
    font-size: 14px;

    @include media-queries.tablet {
        font-size: 15px;
    }

    @include media-queries.desktop-s {
        font-size: 17px;
    }

    body {
        background-color: $off-white;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    @include media-queries.desktop {
        font-size: 18px;
    }
}
